---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$type-size-1: 2.441em;
$type-size-2: 1.953em;
$type-size-3: 1.563em;
$type-size-4: 1.25em;
$type-size-5: 0.92em;
$type-size-6: 0.75em;
$type-size-7: 0.65em;
$type-size-8: 0.578em;
$type-size-9: 0.478em;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials