@font-face {
    font-family: CaskaydiaCove;
    src: url("/public/fonts/CaskaydiaCoveNerdFont.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Raleway;
    src: url("/public/fonts/RalewayVariableFont.ttf") format('truetype');
    font-weight: 520;
    font-style: normal;
}