/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {

  [hidden] {
    display: none;
  }

  * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  html {
    margin: 0;
    padding: 0;
    min-height: auto !important;
    font-size: 16px;
  }

  body {
    margin: 0 auto;
    background: #fff !important;
    color: #000 !important;
    font-size: 1rem;
    line-height: 1.5;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #000;
    line-height: 1.2;
    margin-bottom: 0.75rem;
    margin-top: 0;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  h6 {
    font-size: 1rem;
  }

  a,
  a:visited {
    color: #000;
    text-decoration: underline;
    word-wrap: break-word;
  }

  table {
    border-collapse: collapse;
  }

  thead {
    display: table-header-group;
  }

  table,
  th,
  td {
    border-bottom: 1px solid #000;
  }

  td,
  th {
    padding: 8px 16px;
  }

  img {
    border: 0;
    display: block;
    max-width: 100% !important;
    vertical-align: middle;
  }

  hr {
    border: 0;
    border-bottom: 2px solid #bbb;
    height: 0;
    margin: 2.25rem 0;
    padding: 0;
  }

  dt {
    font-weight: bold;
  }

  dd {
    margin: 0;
    margin-bottom: 0.75rem;
  }

  abbr[title],
  acronym[title] {
    border: 0;
    text-decoration: none;
  }

  table,
  blockquote,
  pre,
  code,
  figure,
  li,
  hr,
  ul,
  ol,
  a,
  tr {
    page-break-inside: avoid;
  }

  h2,
  h3,
  h4,
  p,
  a {
    orphans: 3;
    widows: 3;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
    page-break-inside: avoid;
  }

  h1 + p,
  h2 + p,
  h3 + p {
    page-break-before: avoid;
  }

  img {
    page-break-after: auto;
    page-break-before: auto;
    page-break-inside: avoid;
  }

  pre {
    white-space: pre-wrap !important;
    word-wrap: break-word;
  }

  a[href^='http://']:after,
  a[href^='https://']:after,
  a[href^='ftp://']:after {
    content: " (" attr(href) ")";
    font-size: 80%;
  }

  abbr[title]:after,
  acronym[title]:after {
    content: " (" attr(title) ")";
  }

  #main {
    max-width: 100%;
  }

  .page {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .page-break,
  .page-break-before {
    page-break-before: always;
  }

  .page-break-after {
    page-break-after: always;
  }

  .no-print {
    display: none;
  }

  a.no-reformat:after {
    content: '';
  }

  abbr[title].no-reformat:after,
  acronym[title].no-reformat:after {
    content: '';
  }

  .page__hero-caption {
    color: #000 !important;
    background: #fff !important;
    opacity: 1;

    a {
      color: #000 !important;
    }
  }

/*
   Hide the following elements on print
   ========================================================================== */

  .masthead,
  .toc,
  .page__share,
  .page__related,
  .pagination,
  .ads,
  .page__footer,
  .page__comments-form,
  .author__avatar,
  .author__content,
  .author__urls-wrapper,
  .nav__list,
  .sidebar,
  .adsbygoogle {
    display: none !important;
    height: 1px !important;
  }
}

/*
   custom styles by jooncco
   ========================================================================== */

blockquote {
  background-color: rgba($primary-color, 0.04);
}

div.career-card {
  margin: 30px 5px;

  .career-title {
    padding: 1% 2.5%;
    width: 95%;
    border-radius: $border-radius;
    background-color: rgba($primary-color, 0.04);
    color: $text-color;
    font-weight: bold;
    cursor: pointer;
  }

  .career-title:after {
    content: '\02795';
    font-size: $type-size-5;
    color: $text-color;
    float: right;
    padding-left: 5px;
  }

  .career-title:hover, .active {
    cursor: pointer;
    background-color: rgba($primary-color, 0.15);
  }

  .active:after {
    content: '\2796'; /* Unicode character for "minus" sign (-) */
  }

  div {
    &.panel {
      max-height: 0;
      overflow: hidden;
      -webkit-transition: max-height 0.5s;
      -moz-transition: max-height 0.5s;
      -ms-transition: max-height 0.5s;
      -o-transition: max-height 0.5s;
      transition: max-height 0.5s;

      .period {
        margin: 0 3%;
        padding: 0 2%;
        display: flex;
        width: 86%;
        flex-wrap: wrap;
        border: solid;
        border-width: 3px;
        border-color: #ccc;

        .column {
          margin: 10px 0;
          display: flex;
          flex-direction: column;
          flex: 1;
          font-size: $type-size-8;
        }
        
        .column.head {
          font-weight: 900;
          font-size: $type-size-7;
        }
        
        .column.artifacts {
          padding: 1.5%;
          flex: 2;
        }
        
        .cell {
          display: flex;
          flex: 0 0 50%;
          -webkit-flex: 0 0 50%;
          align-items: center;
        }
        
        .cell-rowspan-2 {
          flex: 0 0 100%;
          -webkit-flex: 0 0 100%;
        }
      }
  
      .description {
        h5 {
          margin: 2% 4% 0 4%;
          font-size: $type-size-5;
        }
        .body {
          margin: 1% 4%;
          padding: 8px; 
          width: 74%;
          border-radius: $border-radius;
          background-color: $span-background-color;
          font-size: $type-size-7;
        }
      }
      .contribution {
        h5 {
          margin: 2% 4% 0 4%;
          font-size: $type-size-5;
        }
        .body {

          ul {
            margin: 0;
            padding: 0 8px;
            width: 80%;
            list-style-type: none;

            li {
              margin: 4px 10px;
              padding: 0 0 0 2%;
  
              span {
                padding: 5px 2% 2px 1.5%;
                border-radius: $border-radius;
                background-color: $span-background-color;
                font-size: $type-size-6;
              }
            }
          }
        }
      }
    }
  }
}

div.skill-set {

  .row {
    margin: 8px 0;
    display: flex;
    border: solid;
    border-width: 1px;
    border-radius: $border-radius;
    border-color: mix(#000, $text-color, 85%);

    .category {
      padding: 3%;
      width: 32%;
      font-weight: bold;
      font-size: $type-size-4;
    }

    .content {
      padding: 2% 1%;
      width: 68%;

      ul {
        margin: 0;
        font-size: 18px;

        li {
          padding: 4px;

          span {
            font-weight: 400;
            margin: 1px;
            padding: 1px 4px;
            border-radius: $border-radius;
            background-color: $span-background-color;
          }
        }
      }
    }
  }
}
  
.artifact_img {
  width: 30px;
  height: 30px;
}

.bolster {
  font-family: CaskaydiaCoveNerdFont;
  color: $primary-color;
}